body {
    --bs-body-font-size: 1.5rem;
    --bs-body-bg:#212529;
    --bs-body-color:#fff;
    --bs-secondary-color:#6c757d;
}

.post-content {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2rem;
}
.post-content p {
    margin-bottom: 1.5rem;
}