<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}

    {% include head.html %}
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/css/green-audio-player.min.css">
    <script src="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/js/green-audio-player.min.js"></script>
    <script>
        $(window).on("load", function () {
            GreenAudioPlayer.init({
                selector: '.audio-item',
                stopOthersOnPlay: true
            });
        });
    </script>
</head>

<body>
    <div class="container-fluid">
        {% include head-nav.html %}
        <ol class="list-group list-group-numbered">

            {% for audio in site.data.audio %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto audio-item">
                    <div class="fw-bold">{{ audio.name }}</div>
                    <audio>
                        <source src="{{ audio.link | relative_url }}" type="audio/mpeg">
                    </audio>
                </div>
            </li>
            {% endfor %}
        </ol>

        {% include foot.html %}
    </div>

</body>

</html>