<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% seo %}
  {% include head.html %}
</head>

<body>
  <div class="container-fluid">
    {% include nav.html %}
    <div class="card-deck">
    {% for post in site.posts %}
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.date | date: "%Y-%m-%d" }}</h6>
        <p class="card-text">{{ post.excerpt }}</p>
        <a href="{{ post.url }}" class="btn btn-primary" target="_blank">阅读</a>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
</body>

</html>